# Database
# This points to your local MongoDB instance.
DATABASE_URL=""

# Next Auth
# This is required for authentication to work.
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Google OAuth Credentials
# You can leave these blank for now, but Google Login won't work.
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Stripe Payment Gateway
# You can leave this blank for now, but payments won't work.
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""